body{
   background-color: lightgray;
}

h1, h2 {
    color: #4aaaa5;
}

h2 {
    text-align: center;
}

#nav {
    background: #4aaaa5;
    color: white;
}

.container {
    width: 960px;
    
}

#main-section {
    width: 650px;
    background-color: white;
    padding: 15px;
    margin: 5px;
}

#connect {
    width: 270px;
    background-color: white;
    padding: 15px;
    margin: 5px;
}

.connect-img{
    height: 50px;
    width: 50px;
}

.flex-parent-connect{
    display: flex;
    justify-content: space-between;
}

.flex-parent-main {
    display: flex;
}

#bio-image {
    height: 200px;
}