body {
    margin: 0px;
    padding: 0px;
    background-image: url(../images/playstation-pattern.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background:#ffffff;
}

.navigation {
    text-align: left
}

.container {
    width: 1024px;
    margin: 0 auto;
    margin-top: 180px;
}

.main-section {
    width: 650px;
    background: #ffffff;
    float: left;
    margin-right: 40px;
    padding: 15px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;

}

.connect {
    width: 200px;
    background: #ffffff;
    float: left;
    padding: 15px;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
}

#bio-image {
    height: 200px;
    float: left;
    margin-right: 20px;
}

.connect-img {
    height: 40px;
    width: 40px;
    margin: 11px;
}

footer {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    background: #666666;
    border-top: 5px;
    border-color: #4aaaa5;
    border-style: solid;

}

.divider {
    height: 2px;
    background-color: #cccccc;
    margin-bottom: 26px;   
}

.flexparent-portfolio {
    display: flex;
    justify-content: space-around;
}

.portfolio-item {
    height: 80px;
    width: 80px;
    background: cadetblue;
}

h1 {
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav-text {
    background-color: #4aaaa5;
    color: #cccccc;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-weight: lighter;
    font-size: 14px;

}